*{
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  padding-bottom: 200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.607);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav__links {
  display: flex;
  align-items: center;
  font-size: 27px;
}

.nav__links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav__links li {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav__link {
  text-decoration: none;
  color: #00FFFF;
}

.nav__link:hover {
  text-decoration: none;
  color: #ff00ea;
  transform: translateY(-2px);
}




@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav__links {
    margin-top: 10px;
  }

  .nav__links--right {
    margin: auto;
  }
  .nav__links ul {
    flex-direction: column;
  }

  .nav__links li {
    margin-right: auto;
    margin-bottom: 5px;
  }

  .container {
    padding-bottom: 400px;
  }


}

