body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: radial-gradient(circle at bottom right, rgb(46, 243, 212),rgb(80, 17, 213),rgb(0, 16, 189),rgb(46, 243, 212));
  color: #FFFFFF;
}
